*{
    margin: auto;
    max-width: 1440px;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;

}


nav{
    
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    weight: 1140px;
    height: 151px;
    margin:0 auto;
    color:#4E47FF ;
    padding: 0;
    

   }
   nav button{
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   nav h1{
    font-size: 40px;
   }
   header button{
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   .title{
    text-align: center;
    height: 152px;
    max-width: 905px;
    font-size: 30px;

   }
main{
    max-width: 1440px;
    display: flex;
    flex-direction: column;

    margin:0 auto;
   
   
}
    
.section-title{
    width: 40%
    
    margin: 0 auto;
}
.about button{
     margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

}

   .about {
    width: 40%;
    margin:0 auto;
    padding: 130px 150px;
    text-align: center;
    display: flex;
    
    
   }
   .see{
    font-size: 42px;
   }
   .leftsection button{
    margin:0 auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   .rightsection{
    border-radius: 40px;
     width: 30%;
     margin: 0 auto;

   }
   .parent div{
    margin: 0 auto;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
    background-color: #4E47FF;
    

   }
   .fontsize{
    list-style-type: none;
    font-size: 100px;
    color: #4E47FF;
    display: flex;
    justify-content: space-around;
   }
   

   
   .comment{
   text-align: center;
   margin-top: 130px;

   }
   .image{
    border-radius: 30px;
   }
   .reacts{
    flex-direction: row;
    border-radius: 10px;
    background-color: #FFFFFF;
    text-align: left;
    justify-content: space-around;
   }
   .style{
    display: flex;
    justify-content: space-around;
   }
   .get{
    margin-top: 130px;
    
   }
   .get button{

    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   .last{
    text-align: center;
    max-width: 1440px;
    margin-top: 130px;
   }

   .footer{
    list-style-type: none;
    
    display: flex;
    justify-content: space-between;color: #8987A1;
   }
   .color{
    color: #8987A1;
   }
  





