*{
    margin: auto;
    max-width: 1440px;
}
header{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;

}


nav{
    
    
    display: flex;
    align-items: center;
    justify-content: space-between; 
    weight: 1140px;
    height: 151px;
    margin: auto;
    color:#4E47FF ;
    padding: 0;
    

   }
   nav button{
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   nav h1{
    font-size: 40px;
   }
   header button{
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   .title{
    text-align: center;
    height: 152px;
    max-width: 905px;
    font-size: 30px;

   }
.mainsection{
    max-width: 1440px;
    height: ;
    display: flex;
    margin: auto;
    justify-content: space-between;
}
   .leftsection{
    width: 40%;
    margin: auto;

   }
   .see{
    font-size: 42px;
   }
   .leftsection button{
    margin: auto;
    border-radius: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    padding: 12px 36px;
    background-color: #4E47FF;

   }
   .rightsection{
    border-radius: 40px;
     width: 30%;
     margin: auto;

   }

   
  





